{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 38.546174959731545,
    "longitude": -121.42298820134228,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "StarDestroyer",
    "time_zone": "America/Los_Angeles",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}